/* CSS files add styling rules to your content */

*{
  font-family: 'Roboto', sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}



.goo {
  font-famiily: sans-serif;
}

.left {
  font-size: 27px;
  color: #535353;
}

.small {
  display: inline-block;
  width: 650px;
  margin: 0 auto;
  padding: 3px;
  color: #6D7174;
  text-align: left;
  font-size: 12px;
  color: #4A4D51;
}

.outer-div {
  width: 100%;
  text-align: center;
  
}

.outer-div2 {
  width: 100%;

}



.inner-div2 {
  display: inline-block;
  width: 23%;
  float: left;
  margin: 0 auto;
  padding: 3px;
  text-align: left;

}

.inner-div5 {
  display: inline-block;
  width: 23%;
  float: left;
  margin: 0 auto;
  padding: 3px;
  text-align: right;

}

.color {
  color: #64686C;
}

.inner-div3 {
  display: inline-block;
  width: 28%;
  float: right;
  margin: 0 auto;
  padding: 3px;
  text-align: left;

}

.middle {
  display: inline-block;
  width: 15%;
  float: right;
  margin: 0 auto;
  padding: 3px;
  text-align: left;
 
}

.inner-div {
  display: inline-block;
  width: 650px;
  margin: 0 auto;
  padding: 3px;
  font-size: 27px;
  color: #535353;
  text-align: left;

}


.header {
  display: inline-block;
  width: 650px;
  margin: 0 auto;
  padding: 3px;
  color: #6D7174;

  text-align: left;
}


.size {
  padding-right: 30px;
}